html , body{
    background: black;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: 15vh 75vh 10vh;
    grid-gap: 1px;
    grid-template-areas:"h h "
                        "a m "
                        "f f ";
}

header{
    background-color: rgba(255, 255, 255, 0.4);
    grid-area: h;
    text-align: center;
    
}

#recuo{
    text-indent: 55px;
}

main{
    background-color: white;
    grid-area: m;
    overflow: auto;
    padding-left: 5px;
    padding-right: 5px;
}

aside{
    background-color: rgba(255, 255, 255, 0.4);
    grid-area: a;
    text-align: center;
}

footer{
    background-color: white;
    grid-area: f;
}

#imagem{
    margin-top: 10px ;
}

#botao1{
    background-color:  rgba(40, 44, 44, 0.9);
    height: 20px;
    width: 20px;
}

#botao2{
    background-color: rgba(73, 45, 0, 1);
    height: 20px;
    width: 20px;
}
#botao3{
    background-color: rgba(0, 167, 255, 1);
    height: 20px;
    width: 20px;
}
#botao4{
    background-color: white;
    height: 20px;
    width: 20px;
}


